@charset "utf-8";
/* CSS Document */
/* 5/20 changed font to use em and percentages per Udemity course*/

body,
td,
th,
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;     /* changed font to percent */
	color: #333;
	line-height: 1;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul,
li 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;    /* change font to em */
	color: #333;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover, 
a:focus {
	color: #3397db;
	text-decoration: none;
}

a img{
	border: none 0em #fff;     /* change px to em */
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 1.25em;            /* change px to em */
}
/*
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
*/

.wrapper
{
  width: 100%;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 1.0em;     /* change px to em */
  letter-spacing: .1em; 
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
}

#footer p {
  color : white;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 4em;               /* change px to em */
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 2em;                /* change px to em */
  font-weight: 200;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 0.1em 0.1em 0.1em;
    list-style: none;
    background-color: #eee;
    font-size: .5em;
    margin: 0;
    width: calc(50% - .5em);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 0.5em;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 24.5em;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 8em;
  background-color: #3397DB;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1em;  /* changed to 1em for readibility */
  font-weight: normal;
  line-height: 1.5;
  margin: 0 0.75em;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 0.95em;
  height: 2.2em;
  letter-spacing: 0;
  margin: 0.625em;
  padding: 0 0.625em;
  width: 12.50em;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display:flex;
  flex-wrap: wrap;
  background-color: #f3f3f3;
  list-style: outside none none;
  text-align: center;
  margin:0;
  width: 95%;
  margin-right:2.5%;
  margin-left:2.5%;
}
#restaurants-list li {
  background-color: #fff;
  border: .125em solid #ccc;
  font-family: Arial,sans-serif;
  min-height: 25em;
  text-align: left;
  width:calc((100% - 100px)/4);  /* used to display restaurants side by side suggested by fellow student Levi in slack     */
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 16em;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 3em;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 1.25em 0 0.625em;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 2em;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: .3em solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 0.8em;
  margin: 0.95em 0 0;
  padding: 0.5em 1.9em 0.625em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 90%;
  position: fixed;
  right: 0;
  top: 2.4em;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  font-size: 50%;    /* making easier to tap */
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 0.625em;
  font-weight: 200;
  letter-spacing: 0;
  margin: 0.1em 0 0.1em;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: .625em;
  margin: 0.625em 0em;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: .625em;
  font-weight: 300;
  letter-spacing: 0.625em;
  margin: 0 0 1.25em;
  padding: 0.1em 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container, #reviews-container {
  border-bottom: 0.1em solid #d9d9d9;
  border-top: 0.1em solid #fff;
  padding: 0.1em 0.1em 0.1em;
  width: 50%;
}
#reviews-container {
  padding: .1em .1em .1em;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: -0.1em;
  padding-bottom: 0.1em;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
    border: 0.15em solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 1em;
  overflow: hidden;
  padding: 0 1em 1em;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 0.625em;
}
#restaurant-hours td {
  color: #666;
}
